.Summary {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 192px;
    margin: 0 25%;
    z-index: 1;
}

.summary-content-header {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    text-align: center;
    margin-top: 0;
}

.link-container {
    user-select: none;
}

.info-container {
    text-align: center;
}

.link-logo:hover {
    cursor: pointer;
}

.link-logo {
    min-width: 64px;
    max-width: 10%;
}

.links-logos {
    min-height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.skills-sets-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-sets-container > * > .skill-container {
    font-family: 'JetBrains Mono', serif;
    margin: 3px;
}

.skill-set-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 50%;
    flex-wrap: wrap;
}

.skills-sets-container > .even {
    align-self: flex-start;
}

.skills-sets-container > .odd {
    align-self: flex-end;
}
