.Summary {
    position: relative;
    min-width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.summary-paper > h1 {
    text-align: center;
}
.summary-paper {
    min-width: 50%;
    min-height: 100%;
    margin: 15% 0;
}

.skills-sets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.skills-sets-container > * > .skill-container {
    font-family: 'JetBrains Mono', serif;
    margin: 3px;
}

.skill-set-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 50%;
    flex-wrap: wrap;
}

.skills-sets-container > .even {
    align-self: flex-start;
}

.skills-sets-container > .odd {
    align-self: flex-end;
}
