@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 10, 38, 95;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-jetbrains: 'JetBrains Mono', monospace;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  /* Custom keyframes for switchOpacity */
  @keyframes switchOpacity {
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  /* Custom keyframes for switchOpacityAFewWithColor */
  @keyframes switchOpacityAFewWithColor {
    50% {
      opacity: 0.8;
      color: #cecece;
    }
    100% {
      opacity: 1;
      color: #ffffff;
    }
  }

  /* Custom animation classes */
  .animate-switch-opacity {
    animation: switchOpacity 2s ease-in-out infinite;
  }

  .animate-switch-opacity-color {
    animation: switchOpacityAFewWithColor 2s ease-in-out infinite;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
   /* background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));*/
  }
}
