.Hideable {
    min-height: 20%;
}

.hideable-arrow-container {
    padding-top: 5px;
    user-select: none;
    min-height: 32px;
    text-align: center;
    font-family: 'JetBrains Mono', serif;
    font-size: 16px;
    transition: font-size 0.1s;
    animation-name: switchOpacity;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.hideable-arrow-container:hover {
    font-size: 20px;
    transition: font-size 0.3s;
}
.hideable-arrow-content {
    writing-mode: vertical-rl;
    transition: transform 1s;
}
.hideable-children {
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 1s;
}
.hideable-hidden {
    max-height: 0;
    transition: max-height 1s;
}
.hideable-arrow-content-flipped {
    transform: rotate(-60deg);
    transition: transform 1s;
}

@keyframes switchOpacity {
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
